# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
/target/

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.bak

# Configuración de ejecución
*.launch
*.classpath
*.project
